@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<p>You can contact us using the details below:</p>

<ul>
    <li>Email: <a href="mailto:support@betmanager.local">support@betmanager.local</a></li>
    <li>Phone: <a href="tel:+27210000000">+27 21 000 0000</a></li>
</ul>
